@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.home__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.input {
  padding: 10px;
  width: 50%;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: gray;
 
  outline: none;
  border: none;
  border-radius: 5px;
}
.home__signup {
  width: 100px;
  font-size: 16px;
  cursor: pointer;
  background-color: gray;
 
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color:rgb(236, 230, 230);
  font-family: Arial, sans-serif;
  color: #333; /* Default text color */
  flex: 0.2;
  padding: 20px;
  border-left: 2px solid #fdfdfd;
  direction: rtl;
}
.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color:rgb(236, 230, 230);; 
  direction: rtl;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: red;
  cursor: pointer;
  color: #eae3d2;
}
.leaveChat__btn:hover {
  background-color: rgb(223, 116, 102);
}
.message__container {
  width: 100%;
  height: 80vh;
  background-color: #faf3dd;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: rgb(236, 230, 230);
  height: 10vh;
  direction: rtl;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
.sendBtn {
  width: 150px;
  background-color: rgb(11, 37, 11);
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: rgb(94, 100, 94);
}
.message__recipient {
  background-color: white;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.message__sender {
  background-color: rgb(139, 226, 139);
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
}
.message__content {
  text-align: right;
}

.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
}

/* ChatBubble.css */
.chat-bubble {
  position: relative;
  width: 20px;
}

.read {
  color: deepskyblue;
}

.not-read {
  color: gray;
}
